.header-bar {
    width: 100%; 
    background-color: black; 
    display: block; 
    min-height: 125px;
    color: white;
    text-align: center;
}

.header-bar img{
    float: left;
    height: 125px;
    width: 125px;
}

.header-bar h1 {
    padding-top: 45px;
}

.page-nav{
    float: right; 
    background-color: gainsboro; 
    display: block;
}

.page-nav ul{  
    list-style-type: none; 
    padding-left: 0px;
}
.page-nav a{  
    color:black;
    text-decoration: none;
}
.page-nav li{
    padding-left: 10px;
    font-size: large;
}
.page-nav li:hover{  
    background-color: darkgray;
    font-size: larger;
}


.footer-bar{
    background-color: darkslategrey; 
    width: 100%; 
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    color: white;
}

.columns{
    column-count: 2;
}

.columns img{
   max-width: 1000px;
   width: 100%;
}

table,th,td {
    border: 1px solid rgb(107, 226, 228);
}
table{       
    border-collapse: collapse;
    background-color: rgb(247, 253, 230);
}
th{
    height: 5%;
    width: 10%;
}
td{
    text-align: center;
}

/* center gallery */
.cen-gal {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.cen-gal img {
    max-width: 1000px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
}

.cen-gal audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* center contact*/
.cen-con {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.cen-con input:invalid {
    border: 2px dotted red;
}

.cen-con input[type=text], select, textarea, input[type=email], input[type=tel],input[type=password] {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.cen-con input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cen-con input[type=submit]:hover {
    background-color: darkgray;
}

.cen-con label, input[type="radio"]{
    font-size: 25px;
}

/* Center invitiation */
.cen-inv {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    border: 2px dotted black;
}

.cen-inv p {
    font-size: 25px;
}
